@import '@/styles/_screen-width.scss';
@import "@/styles/_variables.scss";

.FormContent {
  display: grid;
  padding: 60px 16px;

  @media (min-width: $mobile-width) {
    place-items: start;
  }

  @media (min-width: $desktop-width) {
    padding: 120px 0 88px 0;
    place-items: start;
    max-width: 928px;
    margin: 0 auto;
  }

  &__title {
    font-size: 40px;
    max-width: 250px;

    @media (min-width: $mobile-width) {
      max-width: none;
    }
  }

  &__privacy {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 44px;
    font-size: 14px;
    align-items: center;
    column-gap: 8px;
    color: $c_grey_70;

    &__button {
      color: $c_blue_50;
      cursor: pointer;
      border-bottom: 1px solid $c_blue_50;
    }
  }

  &__formItem {
    &__error {
      color: $c_red_60;
      font-size: 14px;
      margin-left: 8px;
    }

    &__items {
      display: grid;
      grid-auto-flow: column;
      place-self: start;
      column-gap: 40px;
    }
  }
}
