.FormModal {
  &__content {
    margin-top: 8px;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    color: #262626;
    min-width: 300px;

    @media (min-width: 481px) {
      width: 490px;
    }
  }
}
