// ---------- Main Colors ---------- //

// Red
$c_red-80: #f5222d80;
$c_red_60: #f5222d;

// Grey
$c_grey_black: #000;
$c_grey_100: #262626;
$c_grey_70: #595959;
$c_grey_50: #8c8c8c;
$c_grey_40: #bfbfbf;
$c_grey_30: #d9d9d9;
$c_grey_20: #e8e8e8;
$c_grey_10: #e6f7ff;
$c_grey_white: #fff;

// Blue
$c_blue_80: #096dd9;
$c_blue_60: #2f80ed;
$c_blue_50: #1890ff;
$c_blue_40: #40a9ff;
