@import '@/styles/_variables.scss';

.PrivacyModal {
  &__content {
    margin-top: 32px;
    font-size: 20px;
    line-height: 38px;
    text-align: left;
    width: 100%;
    max-width: 678px;
    color: $c_grey_100;
    max-height: 544px;
    overflow-y: auto;
  }
}
